
.logo {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1%;
    align-items: center;
}

.showCom li, .comentarios li{
    list-style: none;
}


.prom{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #ed5c72;
}

.propiedades, .users, .card, .list-group, .showCom {
    margin: 4%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.registrarse {
    margin-left: 2%; 
    border: solid 1px;
    padding: 4px;
}

.subtitulo {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ed5c72;
}

.inmobiliarias {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: bold;
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    font-size: 150%;
}

.inmobiliarias a {
    color:#ed5c72;    
}

.inmobiliarias a:hover {
    color: #926b71;
}   

.pie {
    width: 100%;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;
}

footer {
    width: 100%;
    border-bottom: #BF3958 solid 5px;
    display: flex;
    flex-direction: row;
    background-color: rgb(212, 212, 212);
    padding: 0;
    margin-top: 1%;
}

.userAdmin {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #BF3958;
    font-style: bold;
}

.cajaUser {
    display: flex;
    flex-direction: column;
}

.cajaProp {
    display: flex;
    flex-direction: column;
    margin: 2%;
}

.card-title {
    color: #BF3958;
}